{% extends 'base.html' %}

{% block title %}
    <title>Add New Import</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Add New Import</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Add Import</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">New Import</div>
            <div class="card-body">
                <form id="product_form" action="/import/" method="POST" onsubmit="return checkMaterialName()">
                    <label for="material_name">Material Name <span class="text-danger">*</span></label>
                    <input type="text" id="material_name" name="material_name" class="form-control" required><br>
        
                    <!-- <label for="material_description">Material Description</label>
                    <input type="text" name="material_description" class="form-control"><br> -->
        
                    <label for="quantity_in_stock">Quantity <span class="text-danger">*</span></label>
                    <input type="number" name="quantity_in_stock" class="form-control" required><br>
        
                    <label for="reorder_level">Reorder Level</label>
                    <input type="number" name="reorder_level" class="form-control" value="10"><br>
        
                    <label for="sup_name">Supplier Name <span class="text-danger">*</span></label>
                    <input type="text" name="sup_name" class="form-control" required><br>
        
                    <label for="sup_contact_info">Supplier Phone Number <span class="text-danger">*</span></label>
                    <input type="number" name="sup_contact_info" class="form-control" required><br>
        
                    <label for="sup_address">Supplier Address <span class="text-danger">*</span></label>
                    <input type="text" name="sup_address" class="form-control" required><br>
        
                    <button type="submit" class="btn btn-primary">Add Import</button>
                </form>
                
            </div>
        </div>
    </div>
</main>
<script>
    function checkMaterialName(event) {
    const materialName = document.getElementById('material_name').value;
    
    // Gửi yêu cầu AJAX để kiểm tra sự tồn tại của tên vật liệu
    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/check-material-existence?material_name=' + materialName, true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
            const response = JSON.parse(xhr.responseText);
            if (response.exists) {
                alert("Material name already exists. Please choose a different name.");
                event.preventDefault();  // Ngừng gửi form nếu vật liệu đã tồn tại
                return false;  // Trả về false để ngừng gửi form
            }
            // Nếu tên vật liệu không trùng, cho phép gửi form
            document.getElementById("product_form").submit();
        }
    };
    xhr.send();
    
    return false;  // Trả về false để ngừng gửi form cho đến khi có phản hồi từ AJAX
}

</script>
{% endblock %}