{% extends 'base.html' %}

{% block title %}
    <title>Order Management</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Order</li>
        </ol>

        <!-- Order Form -->
        <div class="card mb-4">
            <div class="card-header">New Order</div>
            <div class="card-body">
                <form method="POST">
                    <label for="cus_id" class="col-form-label">Customer <span class="text-danger">*</span></label>
                    <select name="cus_id" id="cus_id" class="form-control" required>
                        {% for customer in customers %}
                            <option value="{{ customer.cus_id }}">{{ customer.cus_name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="product_ids" class="col-form-label">Products <span class="text-danger">*</span></label>
                    <select name="product_ids" id="product_ids" class="form-control" required>
                        {% for product in products %}
                            <option value="{{ product.product_id }}">{{ product.pro_name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="quantities" class="col-form-label">Quantities <span class="text-danger">*</span></label>
                    <input type="text" name="quantities" id="quantities" class="form-control" required>
                    <br>
                    <label for="price" class="col-form-label">Price <span class="text-danger">*</span></label>
                    <input type="text" name="price" class="form-control" required>
                    <br>
                    <label for="status" class="col-form-label">Status <span class="text-danger">*</span></label>
                    <select name="status" id="status" class="form-control" required>
                        <option value="Pending">Pending</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <br>
                    <input type="submit" value="Add Order" class="btn btn-primary">
                    <a class="btn btn-primary" href="/deposit-confirm/">Deposit Confirm</a>
                </form>
            </div>
        </div>       
    </div>
</main>
{% endblock %}
