{% extends 'base.html' %}

{% block title %}
<title>Add New Product</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Add New Product</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Add Product</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">New Product</div>
            <div class="card-body">
                <form action="/add-product/" method="POST">
                    <label for="product_name" class="col-form-label">Product Name <span class="text-danger">*</span></label>
                    <input type="text" name="product_name" class="form-control" required>
                    <br>

                    <label for="category" class="col-form-label">Category <span class="text-danger">*</span></label>
                    <input type="text" name="category" class="form-control" required>
                    <br>


                    <input type="submit" value="Add Product" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
