{% extends 'base.html' %}

{% block title %}
<title>Update Product</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/supplier/">Supplier</a></li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">New Supplier</div>
            <div class="card-body">
                <form action="/supplier/" method="POST">
                    <div class="form-group">
                        <label for="sup_name" class="col-form-label">Supplier Name <span class="text-danger">*</span></label>
                        <input type="text" name="sup_name" class="form-control" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="sup_material_id" class="col-form-label">Material <span class="text-danger">*</span></label>
                        <select name="sup_material_id" id="sup_material_id" class="form-control" required>
                            {% for material in materials %}
                                <option value="{{ material.material_id }}">{{ material.material_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="sup_contact_info" class="col-form-label">Contact <span class="text-danger">*</span></label>
                        <input type="text" name="sup_contact_info" class="form-control" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="sup_address" class="col-form-label">Address <span class="text-danger">*</span></label>
                        <input type="text" name="sup_address" class="form-control" required>
                    </div>
                    <br>
                    <input type="submit" value="Add Supplier" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
