{% extends 'base.html' %}

{% block title %}
    <title>Deposit Confirm</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Deposit Confirm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Deposit Confirm</li>
        </ol>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-dismissible fixed-alert">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        <div class="card mb-4">
            <div class="card-header">Deposit Confirm Table</div>
            <div class="card-body">
                <!-- Display flash messages -->
               

                <!-- Deposit Confirmation Form -->
                <form action="/deposit-confirm/" method="POST">
                    <div class="form-group">
                        <label for="order_id" class="col-form-label">Order ID</label>
                        <input type="text" name="order_id" class="form-control" required placeholder="Enter Order ID">
                    </div>
                    <div class="form-group">
                        <label for="deposit_amount" class="col-form-label">Deposit Amount</label>
                        <input type="number" name="deposit_amount" class="form-control" required placeholder="Enter Deposit Amount" step="0.01" min="0">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <a href="/order/" class="btn btn-warning">Back</a>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
