{% extends 'base.html' %}

{% block title %}
<title>Inventory</title>

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-dismissible fade show fixed-alert">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mb-2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<main>
    <div class="container-fluid mt-5">
        <!-- Header Section -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-dark font-weight-bold">Dashboard</h1>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/dashboard" class="text-decoration-none text-muted"><i class="fas fa-home mr-1"></i> Dashboard</a></li>
                <li class="breadcrumb-item">Inventory</li>
                <li class="breadcrumb-item"><a href="/inventory/" class="text-decoration-none text-muted">Material</a></li>
                <li class="breadcrumb-item"><a href="/inventorypro/" class="text-decoration-none text-muted">Product Return</a></li>
            </ol>
        </div>

        <!-- Product List -->
        <div class="card shadow-lg border-0 mb-4">
            <div class="card-header bg-primary text-white font-weight-bold">
                <i class="fas fa-cogs"></i> Product List
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0" style="table-layout: fixed;">
                    <thead class="bg-light">
                        <tr>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Date</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in inventorypro %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{ item.product_name }}</td>
                                <td>{{ item.quantity }} </td>
                                <td>{{ item.date.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                               
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}
