<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/sty.css" />
    <title>Login Page | Caged Coder</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-dismissible fade show fixed-alert">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mb-2">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="container" id="container">
      <!-- Form Đăng Ký -->
      <div class="form-container sign-up">
        <form id="sign-up-form" method="POST" action="/register">
          <h1>Create Account</h1>
          <br><br>
          <div class="form-group mb-3">
            <label  class="font-weight-semibold text-dark">Name</label>
            <input type="text" placeholder="Name" name="name" required />
            <label  class="font-weight-semibold text-dark">Email</label>
            <input type="email" placeholder="Email" name="email" required />
            <label  class="font-weight-semibold text-dark">Password</label>
            <input type="password" placeholder="Password" name="password" required />
          </div>
          <button type="submit">Sign Up</button>
        </form>
      </div>

      <!-- Form Đăng Nhập -->
      <div class="form-container sign-in">
        <form id="sign-in-form" method="POST" action="/login">
          <h1>Sign In</h1>
          <br><br>
          <div class="form-group mb-3">
            <label  class="font-weight-semibold text-dark">Email</label>
            <input type="email" placeholder="Email" name="email" required />
            <br>
            <label  class="font-weight-semibold text-dark">Password</label>
            <input type="password" placeholder="Password" name="password" required />
          </div>   
          

          <a href="#">Forget Your Password?</a>
          <button type="submit">Sign In</button>
        </form>
      </div>

      <!-- Nút chuyển đổi giữa form -->
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter your personal details to use all of site features</p>
            <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello, Friend!</h1>
            <p>Register with your personal details to use all of site features</p>
            <button class="hidden" id="register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    
    <script src="../static/js/sc.js"></script>
  </body>
</html>
