{% extends 'base.html' %}

{% block title %}
    <title>Material Management</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Manage Materials</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Materials</li>
        </ol>

        <a  class="btn btn-primary" href="/add-material/">            
            Add Material
        </a>
        <br>
        <br>
        <br>

        <!-- List of Materials -->
        <div class="card mb-4">
            <div class="card-header">Material</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Stock</th>
                            <th>Reorder Level</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in materials %}
                        <tr>
                            <td>{{ material.material_id }}</td>
                            <td>{{ material.material_name }}</td>
                            <td>{{ material.material_description }}</td>
                            <td>{{ material.quantity_in_stock }}</td>
                            <td>{{ material.reorder_level }}</td>
                            <td>
                                <a href="/update-material/{{ material.material_id }}" class="btn btn-warning">Update</a>
                                <form action="/delete-material/{{ material.material_id }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
