{% extends 'base.html' %}

{% block title %}
    <title>Order Management</title>    
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-dismissible fixed-alert">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Orders</li>
        </ol>
        <a href="/add-order/" class="btn btn-success">Add Order</a>
        <!-- <a href="/deposit-confirm/" class="btn btn-primary">Deposit Confirm</a> -->
        <br><br>
       
        <br>
        <div class="card mb-4">
            <div class="card-header">Orders List</div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if orders %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Customer</th>
                                    <th>Products</th>
                                    <th>Quantity</th>                                  
                                    <th>Order Date</th>
                                    <th>Price</th>
                                    <th>Deposited </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.order_id }}</td>
                                        <td>{{ order.cus_name }}</td>
                                        <td>
                                            {% for order_detail in order.order_details %}
                                                {{ order_detail.product_name }} <br>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for order_detail in order.order_details %}
                                            {{ order_detail.quantity }}<br>
                                        {% endfor %}
                                        </td>
                                        <td>{{ order.order_date.strftime('%d-%m-%Y %H:%M:%S')}}</td>
                                        <td>{{ order.price | format_price }}</td> <!-- Apply formatting filter -->
                                        <td>{{ order.deposit_amount | format_price }}</td>

                                        <td>
                                            <!-- <a href="/order-detail/{{ order.order_id }}" class="btn btn-info">View </a>                                            -->
                                            <form action="{{ url_for('deleteOrder', order_id=order.order_id) }}" method="POST" style="display:inline;">
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this order item?')">Delete</button>
                                            </form>                                            
                                                                           
                                  
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No orders found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
