{% extends 'base.html' %}

{% block title %}
<title>Product List</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Product List</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Product List</li>
        </ol>
        <a class="btn btn-primary" href="/add-product/">            
            Add Product
        </a>
        <div class="card mb-4">
            <div class="card-header">Products</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.category }}</td>
                            
                            <td>
                                <a href="{{ url_for('update_product', product_id=product.product_id) }}" class="btn btn-info">Edit</a> 
                                <a href="{{ url_for('delete_product', product_id=product.product_id) }}" class="btn btn-danger">Delete</a>
                               
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
