{% extends 'base.html' %}

{% block title %}
    <title>Shipping Management</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Shipping Management</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Shipping Management</li>
        </ol>

        <a class="btn btn-primary" href="/add-shipping/">            
            Add Shipping
        </a>
        <br>
        <br>
        <br>

        <!-- Shipping Orders List -->
        <div class="card mb-4">
            <div class="card-header">Shipping Orders List</div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if shippings %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Shipping ID</th>
                                    <th>Order ID</th>
                                    <th>Provider</th>
                                    <th>Tracking Code</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shipping in shippings %}
                                    <tr>
                                        <td>{{ shipping.shipping_id }}</td>
                                        <td>{{ shipping.order.order_id }}</td>
                                        <td>{{ shipping.provider }}</td>
                                        <td>{{ shipping.tracking_code }}</td>
                                        <td>{{ shipping.status }}</td>
                                        <td>
                                            <a href="/shippings/{{ shipping.shipping_id }}" class="btn btn-primary">View</a>
                                            <form action="{{ url_for('cancel_shipping', shipping_id=shipping.shipping_id) }}" method="POST">
                                                <button type="submit" class="btn btn-danger">Cancel Shipping</button>
                                            </form>
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No shipping orders found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
